<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_ekuku_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.eKuKu"
        tools:targetApi="31">
        <activity
            android:name=".BlogUsersActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PostLikedByActivity"
            android:exported="false" />
        <activity
            android:name=".GraphActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerAdapterFrastructure"
            android:exported="false" />
        <activity
            android:name=".InNewsActivity"
            android:exported="false" />
        <activity
            android:name=".FandNActivity"
            android:exported="false" />
        <activity
            android:name=".HealthActivity"
            android:exported="false" />
        <activity
            android:name=".InfrastructureActivity"
            android:exported="false" />
        <activity
            android:name=".StatsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".EditKukuActivity"
            android:exported="false" />
        <activity
            android:name=".PostNewsActivity"
            android:exported="false" />
        <activity
            android:name=".EduActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity2"
            android:exported="false" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".SellActivity"
            android:exported="false" />
        <activity
            android:name=".BlogRulesPop"
            android:theme="@style/App.Theme.PopUpWindow"
            android:exported="false" />
        <activity
            android:name=".TalkToUsActivity"
            android:exported="false" />
        <activity
            android:name=".WhoWeAreActivity"
            android:exported="false" />
        <activity
            android:name=".EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.sixbert.authenticekuku.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path">

            </meta-data>
        </provider>
    </application>

</manifest>